__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# Ignore all png files
*.png

# But do NOT ignore png files in the assets directory
!assets/**/*.png

*.txt
*.log

build/
dist/

*.spec

.vscode/